{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url" width="100" height="100">
        </div>

<div class="col-md-6">
    <h6>{{movie.name}}</h6>
    <h4>{{movie.desc}}</h4>
    <h6>{{movie.year}}</h6>
    <a  class="btn btn-warning " href="{% url 'movieapp:update'  movie.id %}">Update</a>
    <a  class="btn btn-danger " href="{% url 'movieapp:delete'  movie.id %}">delete</a>

</div>
    </div>
</div>
{% endblock %}